.leaf-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.leaf-tab {
    position: relative;
    width: 202.42px;
    height: 202.42px;
    margin: -10px 50px;
    background-color: #E6E8DA;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    transform: rotate(227deg);
}

.leaf-tab.active {
    background-color: #98AA1E;
    transform: rotate(227deg) scale(1.1);
}

.leaf-tab.active .leaf-content {
    color: white;
}

.leaf-tab .leaf-content {
    position: absolute;
    width: 139.09px;
    height: 47.49px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-227deg);
    text-align: center;
    color: #3D4B32;
    transition: color 0.3s ease-in-out;
}

.leaf-tab .leaf-content img {
    width: 70px;
    display: block;
    margin: 0 auto 10px;
    margin-top: -20px;
}

#tab-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 900px;
    margin: 20px;
    color: #3D4B32;
    padding: 20px;
}

#tab-content h3 {
    color: #ffffff;
}

.tab-name {
    color: #3D4B32;
    font-weight: 600;
    font-size: 20px;
    transition: color 0.3s ease-in-out;
}

.leaf-tab.active .tab-name {
    color: white;
}

.tab-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.tab-section img {
    width: 468px;
    height: 354px;
    border: 1px solid #98AA1E;
    margin-bottom: 20px;
}

.tab-section h4 {
    margin: 0 0 10px;
}

.tab-section p {
    margin: 0;
}

.cont-1,
.cont-2 {
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cont-1 img,
.cont-2 img {
    width: 400px;
    height: auto;
    margin-right: 5em;
}

.text-content {
    width: 740px;
    height: 139.12px;
}

.text-content p {
    font-size: 22px;
    font-weight: 400;
    line-height: 35.2px;
}

.text-content h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
}

.card-1 {
    background-color: #98AA1E;
    height: 589px;
    margin-left: 22px;
    margin-right: 22px;
    width: 400px;
    text-align: left;
    background-image: url(Assets/Frame\ 5.png);
    background-size: 333px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: left;
    transition: border 0.3s ease, height 0.3s ease, background-color 0.3s ease; /* Smooth transitions */
}

.card-1.active-card {
    border: none; /* Remove border for active card */
}

.card-1:not(.active-card) {
    height: 471px; /* Set height for inactive cards */
    background-color: #E6E8DA; /* Default background color for inactive cards */
    background-image: none; /* Hide background image for inactive cards */
    text-align: left;
}

.card-1:not(.active-card) .bg img {
    display: none; /* Hide card image for inactive cards */
}

.card-1:not(.active-card) h3,
.card-1:not(.active-card) p {
    color: #3D4B32; /* Default text color for inactive cards */
}

.card-1:not(.active-card) .bg {
    align-self: top; /* Align content to top for inactive cards */
}

/* Buttons */
.button {
    width: 119.83px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.bg {
    padding-left: 53px;
    padding-right: 53px;
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg img {
    width: 262px;
    height: auto;
    align-self: center;
}

.card-1 h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 33.6px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    align-self: center;
}

.card-1 p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    align-self: center;
}
